//section
html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:300px; /* this needs to be bigger than footer height*/
}

section.main{
	margin-top: 30px;
}

.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer; 
	}
.col-centered{
    float: none;
    margin: 0 auto;
}
//tags
.tags{
	list-style: none; 
	margin: 0;
	padding: 0;
	li{
		display: inline;
		margin: 0 4px 0 0;
		a{
			color: #fff;
		}
	}
}

