<div class="row">
	<div class="col-md-12">
		<section class="login" ng-controller="forgotCtrl">
			<h2>Reset password</h2>
				<div class="row">
					<form class="form-forgot col-sm-4" role="form" method="POST" action="">
						<div class="form-group">
						<label for="email" class="hidden">Email</label>
						<input type="email" class="form-control" id="email" placeholder="Email address" autofocus>
						</div>
						<button class="btn btn-lg btn-primary btn-block" type="submit">Reset password</button>
						<br />
						<div class="login-links">
							<p>Already have an account? <a href="/#/login">Login</a></p>
							<p>Don't have an account? <a href="/#/signup">Sign up</a></p>
						</div>
					</form>
				</div>
		</section>
	</div> 
</div>      