<div class="row">
  <div class="col-md-12">
   <section class="home-popular" ng-controller="tagPopularCtrl">
      <h3>Popuar tags</h3>
      <ul class="tags" ng-repeat="(key, tagCloud) in tagCloud" masonry="{'transitionDuration': 0}" column-width="1">
        <li ng-repeat="key in tagCloud.tagCloud" class="masonry-brick">
          <a href="#!/rate/tag/{{key.tag}}" class="grow">
            <div class="image-contain"> 
              <img ng-if="key.type === 'image'" ng-src="{{key.file_name_medium}}" >
              <img ng-if="key.type === 'video'" ng-src="https://i1.ytimg.com/vi/{{key.video_id}}/hqdefault.jpg">
              <div class="image-text">
                <h4>{{key.tag}}</h4>
              </div>
            </div>
          </a>
        </li>
      </ul>
        <a href="#!/tagsearch" class="pull-right">More...</a>
    </section>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
      <section class="home-popular-images" ng-controller="uploadsCtrl">
        <h3>Popular images</h3>
        <ul class="tags" masonry="{'transitionDuration': 0}" column-width="1">
          <li ng-repeat="key in uploads" class="masonry-brick">
          <a href="#" class="grow">
          <div class="image-contain"> 
            <img ng-src="{{key.file_name_medium}}">
            <div class="image-text">
            <h4>{{key.title  | characters:17 :true}}</h4>
            <h5>{{key.userid}}</h5>
            </div>
          </div>
          </a></li>
        </ul>
      </section>  
  </div>
</div>  

<div class="row">
  <div class="col-md-12">
    <section class="home-popular-videos" ng-controller="uploadsVideosCtrl">
      <h3>Popular videos</h3>
      <ul class="tags" masonry="{'transitionDuration': 0}" column-width="1">
        <li ng-repeat="key in uploadsVideo" class="masonry-brick">
        <a href="#" class="grow">
        <div class="image-contain"> 
        <img ng-src="https://i1.ytimg.com/vi/{{key.original_file_name}}/hqdefault.jpg">
          <div class="image-text">
          <h4>{{key.title | characters:17 :true}}</h4>
          <h5>{{key.userid}}</h5>
          </div>
          </div>
        </a>
        </li>
      </ul>
    </section> 
  </div>
</div>  
 
<div class="row">
  <div class="col-md-12">
   <section class="home-from-users" ng-controller="userRecentCtrl">
      <h3>Recent Users</h3>
      <ul class="tags" ng-repeat="(key, tagCloud) in tagCloud" masonry="{'transitionDuration': 0}" column-width="1">
        <li ng-repeat="key in tagCloud.tagCloud" class="masonry-brick">
          <a href="#!/rate/tag/{{key.tag}}" class="grow">
            <div class="image-contain"> 
              <img ng-if="key.type === 'image'" ng-src="{{key.file_name_medium}}" >
              <img ng-if="key.type === 'video'" ng-src="https://i1.ytimg.com/vi/{{key.video_id}}/hqdefault.jpg">
              <div class="image-text">
                <!-- <img gravatar-src="'{{key.gravatar}}'" class="profileThumb"> -->
                <h4>{{key.tag | characters:17 :true}}</h4>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </section>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <section class="categories stacked" ng-controller="userPopularCtrl">
      <h3><i class="glyphicon glyphicon-user"></i> Popular users</h3>
      <ul class="tags" ng-repeat="(key, tagCloud) in tagCloud">
        <li ng-repeat="key in tagCloud.tagCloud | slice:0:8">

        <a href="#!/rate/user/{{key.tag}}" ng-if="key.type === 'image'"><img gravatar-src="'{{key.gravatar}}'" class="profileThumb"><span style="font-size:180%">{{key.tag}}</span></a>

        <a href="#!/rate/user/{{key.tag}}" ng-if="key.type === 'video'"><img gravatar-src="'{{key.gravatar}}'" class="profileThumb"><span style="font-size:180%">{{key.tag}}</span></a>
      </li>
      </ul>
    </section>
  </div>
</div>


