<div class="row">
	<div class="col-md-12">
		<section class="login" ng-controller="loginCtrl">
			<h2>Sign in</h2>
				<div class="row">
					<form class="form-signin col-sm-4" role="form" method="POST" action="http://localhost:9292/auth/login">
					<input name="username" type="email" class="form-control" placeholder="Email address" required autofocus>
			        <input password="password" type="password" class="form-control" placeholder="Password" required>
					<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
					        <label class="checkbox" for="checkbox1" style="display: inline-block;">
			            <span class="icons">
			            	<span class="first-icon fui-checkbox-unchecked"></span>
			            	<span class="second-icon fui-checkbox-checked"></span>
			            </span>
			            <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
			            Remember me
			          </label>
			          <a href="/#/forgot" class="reset-password">Reset password</a>
						<div class="login-links">
							<p>Don't have an account? <a href="/#/signup">Sign up</a></p>
						</div>
					</form>
				</div>
		</section>
	</div> 
</div>      