
<div class="row">
<div class="col-sm-3" ng-repeat="key in ratings">
  <section class="prev">
          <div class="image-container">
          <img ng-src="{{key.previous.image}}" class="img-rounded img-responsive">
          <h2><span>Rating: {{key.previous.rating}}</span></h2>
          </div>
  </section>
  <section class="categories">
            <h3>More</h3>
            <ul class="tags">
              <li><a href="#">selfies</a></li>
              <li><a href="#">puppies</a></li>
              <li><a href="#">food</a></li>
              <li><a href="#">games</a></li>
              <li><a href="#">sports</a></li>
              <li><a href="#">drinking</a></li>
              <li><a href="#">dares</a></li>
              <li><a href="#">funny</a></li>
            </ul>  
  </section>
</div>

<div class="col-sm-6" ng-repeat="key in ratings">
  <section class="current">

        <img ng-src="{{key.current.image}}" class="img-rounded img-responsive">
            <div ng-controller="RatingDemoCtrl" class="rating">
              <div style="text-align:center">
                <h3>{{key.current.title}}</h3>
                <rating value="ratingValue" max="max" on-hover="hoveringOver(value)" on-leave="overStar = null" state-on="'glyphicon-star'" state-off="'glyphicon-star-empty'" ng-click ="getValue(ratingValue)"></rating> 
                <!-- <br />
                <div class="label label-primary ratingNum clearfix">{{overStar || "0"}}</div> -->
                </div>
              </div> 
              <div class="caption">
                    <img src="public/img/profile.jpeg" class="img-rounded profileThumb" />
    
                <p>{{key.current.description}}</p>
                <a href="{{key.current.user}}" class="user-link">{{key.current.user}}</a>

                <div class="clearfix"></div>
                <ul class="tags">
                  <li ng-repeat="(key, value) in key.current.tags"><span class="label label-primary"><a href="/{{value}}">{{value}}</a></span></li>
                </ul>    
              </div> 
  </section>
      <div class="buttons pull-left">
      <a href="/#/upload" class="btn btn-lg btn-info"><span class="glyphicon glyphicon-plus"></span>&nbsp;Upload</a>
      <button class="btn btn-lg btn-info"><span class="fa fa-heart"></span>&nbsp;Top 20</button>
    </div>
</div>

<div class="col-sm-3" ng-repeat="key in ratings">
  <section class="next">

          <div class="image-container">
            <img ng-src="{{key.next.image}}" class="img-rounded img-responsive">
            <h2 class="next"><span>Next...</span></h2>
          </div>

  </section>
</div>
</div>