<div class="col-xs-12 row">
  <header><h1>{{getPageTag()}}</h1></header>
</div>
<div class="row">
<div class="col-xs-6 col-sm-3">
  <section class="prev" ng-repeat="key in ratings" ng-hide="key.previous.id == null">
          <div class="image-container">
          <img ng-src="{{key.previous.file_name}}" class="img-rounded img-responsive">
          <h2><span>Rating: {{key.previous.rating}}</span></h2>
          </div>
  </section>
    <section class="categories hidden-xs" ng-controller="tagCloudCtrl">
            <h3>More</h3>
            <ul class="tags" ng-repeat="(key, tagCloud) in tagCloud">
              <li ng-repeat="key in tagCloud.tagCloud"><a href="#!/tag/{{key.tag}}"><span style="font-size:{{roundFontSize(key.count,tagCloud.totalCount)}}%">{{key.tag}}</span></a></li>
            </ul>
  </section>
</div>

<div class="col-xs-6 col-sm-3 col-sm-push-6" ng-repeat="key in ratings">
  <section class="next">

          <div class="image-container">
            <img ng-src="{{key.next.file_name}}" class="img-rounded img-responsive">
            <h2 class="next"><span>Next...</span></h2>
          </div>

  </section>
</div>


<div class="col-xs-12 col-sm-6 col-sm-pull-3" ng-repeat="key in ratings">
  <section class="current">

        <img ng-src="{{key.current.file_name}}" class="img-rounded img-responsive">
            <div class="rating">
              <div style="text-align:center">
                <h3>{{key.current.title}}</h3>
                <p class="rate-hint">Click on a star to rate</p>
                <rating value="ratingValue" max="max" on-hover="hoveringOver(value)" on-leave="overStar = null" state-on="'fa fa-star'" state-off="'fa fa-star-o star-empty'" ng-click ="getValue(ratingValue, key.previous.id, key.current.id, key.next.id)"></rating> 
                <!-- <br />
                <div class="label label-primary ratingNum clearfix">{{overStar || "0"}}</div> -->
                </div>
              </div> 
              <div class="caption">
                    <img gravatar-src="'sommes.email@gmail.com'" class="img-rounded profileThumb">
                <a href="{{key.current.userid}}" class="user-link">{{key.current.userid}}</a> 
                <p>{{key.current.description}}</p>
                

                <div class="clearfix"></div>
                <ul class="tags">
                  <li ng-repeat="(key, value) in key.current.tags"><span class="label label-primary"><a href="#!/tag/{{value}}">{{value}}</a></span></li>
                </ul>   
              </div> 
  </section>
      <div class="buttons pull-left">
      <a href="#!/upload" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-plus"></span>&nbsp;Upload</a>
      <a href="#!/top/{{getPageTag()}}" class="btn btn-lg btn-primary"><span class="fa fa-heart"></span>&nbsp;Top 20 in {{getPageTag()}}</a>
    </div>
</div>

<div class="col-xs-12 visible-xs">
    <section class="categories">
            <h3>More</h3>
            <ul class="tags" ng-controller="tagCloudCtrl">
              <li ng-repeat="(key, value) in tagCloud"><a href="#!/tag/{{value[1]}}">{{value[1]}}</a></li>
            </ul>
  </section>
</div>



</div>