<div class="row">
    <div class="col-md-12">

            <h2>Tag search</h2>     

                   <div class="row">
         <div class="col-xs-12 col-sm-6 col-md-5">
<input type="text" class="form-control" id="main-search" ng-model="query" placeholder="Search tags" ng-change="searchTags('all', query, 'all')">
          </div>
          </div>

<br />

       <div class="row">
         <div class="col-md-12">
             <div class="form-group">
                <div class="btn-group">
                    <label class="btn btn-info" ng-model="radioModel" btn-radio="'all'" uncheckable ng-change="searchTags(radioModel, query, 'all')">All</label>
                    <label class="btn btn-info" ng-model="radioModel" btn-radio="'popular'" uncheckable ng-change="searchTags(radioModel, query, 'all')"><i class="glyphicon glyphicon-fire"></i> Popular</label>
                    <label class="btn btn-info" ng-model="radioModel" btn-radio="'recent'" uncheckable ng-change="searchTags(radioModel, query, 'all')"><i class="glyphicon glyphicon-send"></i> Recent</label>
                </div>
            </div>
          </div>  
        </div>  

            <section class="categories cloud search-cloud">
              <ul class="tags" ng-repeat="(key, tagCloud) in tagCloud" masonry column-width="5">
                <li ng-repeat="key in tagCloud.tagCloud" class="tag-list grow masonry-brick">
                <a href="#!/rate/tag/{{key.tag}}">
                  <span class="search-cloud-items">
                  <img ng-if="key.type === 'image'" ng-src="{{key.file_name_medium}}" class="tag-img {{roundTagSize(key.count,tagCloud.minCount,tagCloud.maxCount)}}">
                  <img ng-if="key.type === 'video'" ng-src="https://i1.ytimg.com/vi/{{key.video_id}}/hqdefault.jpg" class="tag-img {{roundTagSize(key.count,tagCloud.minCount,tagCloud.maxCount)}}">
                  <span ng-if="key.type === 'image'" style="font-size:{{roundFontSize(key.count,tagCloud.minCount,tagCloud.maxCount)}}%" class="tag-text">{{key.tag}}</span> 
                  <span ng-if="key.type === 'video'" style="font-size:{{roundFontSize(key.count,tagCloud.minCount,tagCloud.maxCount)}}%" class="tag-text">{{key.tag}}</span>
                  </span>
                  </a>
                </li>
              </ul>
              <p ng-show="listLength() == 0">No results</p>
          </section> 





    </div> 
</div>      