<div class="row">
	<div class="col-md-12">
		<section class="leaderboard">
			<h2>Top 20 in {{getPageTag()}}</h2>
				<div class="row">
					<ul>
						<li ng-repeat="(key, value) in top">
							<div class="col-sm-6 col-xs-12">
			  					<section class="top">
						          <div class="image-container">
						            <a href="#!/tag/{{getPageTag()}}/6/1">
							            <img ng-src="{{value.file_name}}" class="img-rounded img-responsive">
							            <h2 class="top-score"><span>{{$index+1}}</span></h2>
						            </a>
						          </div>
							  </section>
							</div>
							<div class="col-sm-6 col-xs-12">
			  					<section class="top">
			  					<h2 class="top-score-total"><span>Rating: {{value.averageScore}}</span></h2>
			  					<img gravatar-src="'sommes.email@gmail.com'" class="img-rounded profileThumb">
			  						<p><a href="#!/user/{{value.userid}}">{{value.userid}}</a></p>
			  						<h3 class="leaderboard-title">{{value.title}}</h3>
			  						<p>{{value.description}}</p>
			  						<ul class="tags">
		   								<li ng-repeat="(key, value) in value.tags"><a href="#!/tag/{{value}}">{{value}}</a></li>
		            				</ul>
							  </section>
							</div>
						</li>
					</ul>					
				</div>
		</section>
	</div> 
</div>      