<div class="row">
	<div class="col-md-12" >
	  <section class="upload" ng-controller="uploadCtrl">
	    <h2>Upload</h2>
		<div class="row">
			<form class="col-sm-4" role="form">


		      <div class="form-group">
		           <label for="inputFile">Image</label>
<div ng-controller="fileUploadCtrl">
  <input type="hidden" ng-model="myModelObj" ng-init="myModelObj = 'POST'" value="POST">

  <input type="file" ng-file-select="onFileSelect($files)" >

  <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class"
        ng-show="dropSupported" class="drop-box">or drop files here</div>
  <div ng-file-drop-available="dropSupported=true" 
        ng-show="!dropSupported">HTML5 Drop File is not supported!</div>

<!--  <button ng-click="upload.abort()">Cancel Upload</button> -->
		<div ng-show="selectedFiles != null">
			<div class="sel-file" ng-repeat="f in selectedFiles">
				{{($index + 1) + '.'}}
				<img ng-show="dataUrls[$index]" ng-src="{{dataUrls[$index]}}">
				<button class="button" ng-click="start($index)" ng-show="progress[$index] < 0">Start</button>
				<span class="progress" ng-show="progress[$index] >= 0">						
					<div style="width:{{progress[$index]}}%">{{progress[$index]}}%</div>
				</span>				
				<button class="button" ng-click="abort($index)" ng-show="hasUploader($index) && progress[$index] < 100">Abort</button>
				{{f.name}} - size: {{f.size}}B - type: {{f.type}}
			</div>
		</div>
</div>
</div>


		      <div class="form-group">
		        <label for="title">Title</label>
		        <input type="text" class="form-control" id="title">
		      </div>



		      <div class="form-group">
		        <label for="tags" style="margin-bottom: -14px;">Tags</label>
          		<div ng-controller="tagsCtrl">
          			<tags-input ng-model="tags"></tags-input>
          		</div>
          	</div>



		      <button type="submit" class="btn btn-primary">Upload</button>
		    </form>
		</div> 
	  </section>
	</div>
</div>
