<div class="row">
	<div class="col-md-12" >
	  <section class="upload">
	    <h2>Upload</h2>
  		<div class="row" ng-controller="fileUploadCtrl">
  			<span class="fa fa-cloud-upload page-bg"></span>
  			<form class="col-sm-6" role="form" ng-submit="processForm()">

          <div class="form-group">
            <label for="inputFile">Image</label>

  				  <div>
  					  <input type="hidden">

  					  <input id="file_upload" type="file" ng-file-select="onFileSelect($files)" >

  					  <div ng-show="dropSupported" class="drop-box" ng-file-drop="onFileSelect($files);" ng-file-drop-available="dropSupported=true">or drop image here</div>
  					  <div ng-show="!dropSupported">HTML5 Drop File is not supported!</div>

  					<!--  <button ng-click="upload.abort()">Cancel Upload</button> -->

  						<div ng-show="selectedFiles != null">
  							<div class="sel-file" ng-repeat="f in selectedFiles">
  								<span class="progress" ng-show="progress[$index] >= 0">						
  									<div class="progress-bar" style="width:{{progress[$index]}}%"></div>
  								</span>	
  								<img ng-show="dataUrls[$index]" ng-src="{{dataUrls[$index]}}" class="img-rounded img-responsive">
  								<!-- <button class="button" ng-click="start($index)" ng-show="progress[$index] < 0">Start</button>
  								 <p>{{progress[$index]}}% downloaded</p>
  								<button class="button" ng-click="abort($index)" ng-show="hasUploader($index) && progress[$index] < 100">Abort</button>
  								{{f.name}} - size: {{f.size}}B - type: {{f.type}} -->
  							</div>
  						</div>
  					</div>
  				</div>

  	      <div class="form-group">
  	        <label for="title">Title</label>
  	        <input type="text" class="form-control" id="title" ng-model="title">
  	      </div>

  	      <div class="form-group">
  	        <label for="tags" style="margin-bottom: -14px;">Tags</label>
        		<div ng-controller="tagsCtrl">
        			<tags-input ng-model="tags"></tags-input>
        		</div>
        	</div>

  	      <div class="form-group">
  	        <label for="desc">Description</label>
  	        <textarea class="form-control" rows="3" id="desc" ng-model="description"></textarea>
  	      </div>

  	      <button type="submit" class="btn btn-primary btn-block">Upload</button>
  	    </form>
  		</div> 
	  </section>
	</div>
</div>
