//section
html, body {
  height: 100%;
  padding-top: 0 !important;
}
.navbar{
	border-radius: 0px;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:300px; /* this needs to be bigger than footer height*/
}

.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer; 
	}
.col-centered{
    float: none;
    margin: 0 auto;
}


.main-container [class^="col-"] {
 
  .inner {
    padding: 10px;
 }
}