//section
html, body {
  height: 100%;
  padding-top: 0 !important;
}
.navbar{
	border-radius: 0px;

  .buttons{
    margin: 8px 0 0 0;
  }
}

#wrap {
  min-height: 100%;
  margin-top: 20px;
}

#main {
  overflow:auto;
  padding-bottom:300px; /* this needs to be bigger than footer height*/
}

.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer; 
	}
.col-centered{
    float: none;
    margin: 0 auto;
}


.main-container [class^="col-"] {
 
  .inner {
    padding: 10px;
 }
}
@media (min-width: $screen-sm-min) { 
  .navbar-collapse{
    float: right;
    margin-right: -40px !important;
  }
}

.page-bg{
  color: #E7E7E7;
  font-size: 80rem;
  position: fixed;
  margin-top: -100px;
  z-index: -1;
}

//Navbar
.navbar-inverse .navbar-nav > li > a {
  color: $brand-primary;
}

.navbar-brand{
      -webkit-transition: none;
    transition: none;
}
.navbar-brand:hover .logo-graphic{
    background-color: #333;
    color: #fff;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}
.navbar-brand:hover .logo-type{
    color: #333;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.logo-graphic{
  //display: inline-block;
  //border: solid 1px #fff;
  padding: 0 4px;
  padding-top: 12px;
  //background-color: #D61717;
  background-color: $brand-primary;

}

.logo-type{
  margin: 0 10px;
  color: $brand-primary;
  //color: #D61717;
}
