.leaderboard,
.user-uploads{
	ul{
		margin: 0;
		padding: 0;
		list-style: none;
		li{
			display: inline-block;
		}
	}

	h2.top-score{	
		 top: 0; 
		  	
		span{
		  		font-size: 2em;
		}

	}
	h2.top-score-total{
		position: absolute;
		font-size: 1em;
		background-color: $brand-primary;
		right: 0;
		margin-right: 15px;
		padding: 4px 8px;
		top: -19px;
		color: #fff;
	}
	.leaderboard-title{
		margin-top: -10px;
	}

	.tags{
		list-style: none; 
		margin: 0;
		padding: 0;
		margin-top: 20px;
		margin-bottom: 10px;
		
		li{
			display: inline-block;
			background-color: $brand-primary;
			padding: 0 6px;
			line-height: 1.6em;
			font-size: 1em;
			&:hover{
				background-color: #333;
			}
			a{
				color: #fff;
			}
		}
	}

}
.leaderboard ul li{
	display: block;
	.image-container{
		width: 120px;
		margin: 0 15px;
		float: left;
	}
	.top-score-container{
		float: left;
		width:120px;
	}
	section.top.top-image{
		//display: flex;
		padding: 15px 0;
	}
	section.top{
		margin-bottom: 15px;
	}
	.top-details{
		margin: 0 20px;
		//width: 100%;
	}
	h2.top-score{
		//top: -10px;
	
		margin: 0 20px;
		span{
			font-size: 1.7em;
			width: 100px;
			display: block;
			text-align: center;
		}
	}
	h3.leaderboard-title{
		font-size: 0.9em;
		margin: 0;
		//margin-top: 30px;
		//font-size: 28px;
	}
	h4{font-size: .8em;
		//margin-left: 20px;
		margin: 10px 0 ;
	}
	.xs-score{
		font-weight: bold;
		font-size: 2.1em;
		float: left;
		margin-right: 10px;
	}
	.image-container h2 {
		//margin-left: -24px;
	}
	.details{
		margin: 0;
		padding: 0;
		.fa-thumbs-up{
			margin-right:4px;
		}
	}
}
/*
.top-thumb{
	width: 800px;
	height: 500px;
	background-repeat: no-repeat;
	background-size: contain;
	display: table-cell;
}
*/
@media (max-width: $screen-sm-min) { 
	.leaderboard h2.top-score{
		//top: -20px !important;
	}
	.leaderboard h2.top-score span{
		//font-size: .6em !important;
	}
	section.top.top-image{
		//display: inline-block !important;
		//padding: 15px 0;
	}

	.leaderboard ul li .details{
		//margin: 15px;
		//padding: 0;
	}

}
@media (max-width: $screen-md-min) { 
	.leaderboard h2{
		font-size: 1.2em;
	margin-top: 0;
	}
	.leaderboard h2.top-score{
		//top: -10px;
	}
	.leaderboard h2.top-score {
		//font-size: 1em;
	}


}


/*

@media (max-width: $screen-md-min) { 
	.leaderboard .topimg{
		width: 200px !important;
		height: 200px !important;
	}

}	
@media (max-width: $screen-xs-min) { 
	.leaderboard .topimg{
		width: 200px !important;
		height: 200px !important;
	}
	.leaderboard .top{
		display: block !important;
	}
	.leaderboard .details{
		margin-left:0 !important;
		margin-top:20px !important;
	}

}	
.leaderboard .topimg{
	height:300px;
	width:300px;
	background:#efefef url('../img/ajax-loader.gif') no-repeat center center;
}
.leaderboard .top{
	display: flex;
}
.leaderboard .details{
	margin-left:20px;
}*/