.rating{

	.glyphicon{
		font-size: 3em;
		padding: 0 2px;
		cursor: pointer;
		cursor: hand;
		margin: 10px 0 20px 0;
		color: $brand-primary;
	}
}
.ratingNum{
	margin-top: 20px;
	padding: 10px;
	font-size: 2em;
	clear: both;
	display: inline-block;
	width: 100%;
}
.image-container { 
   position: relative; 
   width: 100%; /* for IE 6 */

   h2 { 
	   position: absolute; 
	   bottom: 0; 
	   width: 100%; 
	   span { 
		   color: white; 
		   font: bold .4em/1.8em $font-family-base; 
		   background: rgb(0, 0, 0); /* fallback color */
		   background: rgba(0, 0, 0, 0.7);
		   padding: 10px; 
		   .spacer {
			   padding:0 5px;
			}
		}
	}
	h2.next{	
	  	right: 0; 
	  	width: auto;
	}
}

.tags{
	list-style: none; 
	margin: 0;
	padding: 0;
	margin-top: 20px;
	margin-bottom: 10px;
	
	li{
		display: inline-block;
		margin: 0 4px 4px 0;
		a{
			color: #fff;
		}
	}
	.label:hover{
		background-color: $brand-secondary;
	}
}

img.profileThumb{
	width: 80px;
	height: 80px;
	float: left;
	margin: 8px 10px 0 0;
}


.categories{

	h3{
		font-size: 1.6em;
		margin: 0;
	}
	.tags{
		list-style: none; 
		margin: 0;
		padding: 0;
		margin-top: 20px;
		margin-bottom: 10px;
		
		li{
			display: inline-block;
			background-color: #1abc9c;
			padding: 0 6px;
			line-height: 1.6em;
			font-size: 1em;
			margin: 0 0 3px 0;
			background-color:$turquoise;
			&:hover{
				background-color: darken($turquoise, 10%);
			}
			a{
				color: #fff;
			}
		}
	}
}

.buttons{
	margin-bottom: 30px;
	margin-right: 30px;
}

section.prev,
section.next,
section.current,
section.categories{
	padding: 10px;
	margin-bottom: 30px;
	background-color: white;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}