
//upload
.drop-box{
  background: #F8F8F8;
  border: 5px dashed #DDD;
  text-align: center;
  margin-top: 20px;
  padding: 30px;
}
.drop-box.dragover{
  border: 5px dashed #333;
}

.sel-file img{
  	margin-top: 20px;
  }

.sel-file .progress {
	display: block;
	margin-top: 20px;
	margin-bottom: 10px;
	background: #fff;
}

.sel-file .progress div {
	background: $nephritis;
}

.btn-file {
    position: relative;
    overflow: hidden;
    margin-right:4px;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.uploaded-file-name{
  display: inline-block;
}
