.rating{
	.glyphicon{
		font-size: 3em;
		padding: 0 2px;
		cursor: pointer;
		cursor: hand;
	}
}
.ratingNum{
	margin-top: 20px;
	padding: 10px;
	font-size: 2em;
	clear: both;
	display: inline-block;
}